body{
	font-family: Roboto;
}
table
{
	
	margin: auto;
	max-width: 1100px;
	width:100%;

}
img{
	width: 100%;
}
.text_center
{
	text-align: center;
}


.menu{
	background-color: #fff9c2;
	padding: 20px;
	font-size: 20px;
	text-align: center;
}
.wlc
{
	max-width: 50%;
	text-align: center;
	padding-left: 275px;
}

.widt
{
	width: 20%;
}

.wid
{
	max-width: 260px
}
.lef
{
	text-align: left;
	margin-top: -10px;
}
.lef2
{
	text-align: left;
	
}



.welc{
	padding: 20px 20px;
	max-width: 55%;
	margin: auto;
	font-size: 20px;
}


.product{
	font-size: 20px;
	color:  red;
	padding-bottom: 100px;
}

.prdt
{
	max-width: 70%;
	
}
.brdr
{
	border: 2px solid #B8B8B8;
}
.fnt500
{
	font-weight: 500;
	font-size: 16px;
	margin-left: 25px;
}
.fnt5002
{
	font-weight: 500;
	font-size: 16px;
}
.fnt700
{
	font-weight: 800;
}

.gallery
{
	background-color: #d77145;
	padding: 38px;
	color: white;
	font-size: 20px;

}

.glry_img
{
	min-width: 180px;
	margin-top: -7px;
}

.cust
{
	background-color: black;
	color: #F1EBEA;
	padding: 20px;
	border-spacing: 20px;
	margin-top: -12px;
	width: 100%;
}
.cust a
{
	text-decoration: none;
	color: #F1EBEA;
}

a
{
	text-decoration: none;
	color: black;
}

.copy
{
	background-color: #292929; 
	padding: 35px;
	margin-top: -12px;
	color: white;
	font-size: 20px;
}



.custlink
{
	width: 340px;
	padding-right: : 85px;
	padding-top: : 85px;
	
	background-color: #DAD9D9;
}
.custlink td
{

	padding-left: 20px;
}
.mrgntop
{
	margin-top: -12px;
}
.mrgnto
{
	margin-top: -5px;
}
.abtus
{
	font-size: 20px;
	padding-top: 50px;
	padding-left: 30px;
}



.siz
{
	max-height:  70%

}
.custlink2
{
	width: 340px;
	padding-right: : 85px;
	
	
	background-color: #DAD9D9;
}
.custlink2 table
{
	padding-top: 30px;
	padding-left: 20px;
}
.mrgntop2
{
	margin-top: -120px;
}
.products
{
	font-size: 20px;
	padding-left: 2px;
	
}
.fnt2
{
	font-size: 20px;
}
.fnt3
{
	font-size: 15px;
}

.paddng
{
	padding-left: 20px;
}
.lef3
{
	text-align: left;
	margin-top: 10px;
}


.maxwid
{
	max-width: 1100px;
	padding-left: 20px;
}

.siz2
{
	min-width: 30%

}

.glry_img1
{
	min-width: 110px;
	margin-left: -5px;
	margin-top: -11px;
}
.btn
{
	padding : 10px;

	color: white;
	background-color: #bb4637;
}
.btn2
{
	padding : 10px 20px 10px 20px;

	color: white;
	background-color: #bb4637;
}

.text
{
	height: 40px;
	width: 100%;
	border:1px solid #D5D5D5;
}
.text2
{
	height: 150px;
	width: 100%;
}
.abtus2
{
	font-size: 20px;
	
}
.fntsize
{
	font-size: 15px;
	font-style: bold;
}
span
{
	color: red;
}